<!DOCTYPE html>
<html lang="ko" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>An Delivery</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body>
  <div class="container">
    <div class="body-wrapper">
      <h1>An Delivery <span class="notice">이 모든게 공짜! 주문 즉시 배송 서비스!</span></h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="main-wrapper">
            <%- body %>
          </div>
        </div>
      </div>
      <div class="copyright">
        All pay to <span class="glyphicon glyphicon-heart"></span> 안성훈 reserved.
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/moment.min.js"></script>
</body>
</html>
